### ISSM CA3

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import os
import glob

In [7]:
data_dir = '..\dataset'

def readcsvDataset(directory):
    files = glob.glob(directory + '\*.csv')
    dfs = [pd.read_csv(f, header=None, delim_whitespace=True) for f in files]
    return pd.concat(dfs, ignore_index=True)

In [8]:
df = readcsvDataset(data_dir)

In [9]:
df.shape

(2908868, 120)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,0,20000.0,4.8793,8.5900,-0.38894,0.073118,-0.036965,-0.013070,-0.51207,-0.48621,...,-0.024555,0.004472,0.73472,0.11487,-0.26900,0.14430,0.70701,0.13863,-0.67830,0
1,0,40000.0,4.8964,8.6330,-0.35330,0.087694,-0.029911,0.001427,-0.52072,-0.48328,...,-0.006463,-0.004525,0.73578,0.12193,-0.27263,0.14433,0.70689,0.13869,-0.67841,0
2,0,60000.0,4.8963,8.6211,-0.36282,0.069436,-0.018131,-0.014801,-0.52094,-0.48466,...,-0.020855,-0.008188,0.73472,0.12195,-0.27301,0.14887,0.70579,0.14347,-0.67758,0
3,0,80000.0,4.8671,8.5636,-0.41031,0.038441,-0.008492,-0.004197,-0.51445,-0.48604,...,-0.013600,-0.011785,0.73419,0.11745,-0.26985,0.14890,0.70537,0.14352,-0.67800,0
4,0,100000.0,4.8668,8.5617,-0.44421,0.054820,0.009539,-0.007595,-0.51364,-0.48688,...,-0.020704,-0.017249,0.73526,0.11693,-0.27143,0.14773,0.70543,0.14248,-0.67841,0

In [11]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
2908863,4032,880000.0,-9.3312,6.9023,1.1178,-2.8225,-0.55161,-0.671220,0.61592,-0.111230,...,0.65271,-0.211560,0.69350,0.39871,-0.077358,-0.70964,-0.23733,-0.54510,0.37808,0
2908864,4032,900000.0,-9.1671,5.8637,1.5300,-2.9157,-0.41056,-0.442160,0.61306,-0.078836,...,1.93030,0.081190,0.69534,0.39452,-0.064823,-0.69697,-0.25214,-0.55460,0.37826,0
2908865,4032,920000.0,-9.1596,5.0611,1.8606,-2.7321,-0.28522,-0.229490,0.61176,-0.050039,...,1.66690,0.102000,0.70663,0.39378,-0.045886,-0.68576,-0.26515,-0.56258,0.37806,0
2908866,4032,940000.0,-9.3087,4.4251,2.0459,-2.3306,-0.20934,-0.112930,0.60695,-0.026293,...,1.52900,0.035951,0.69748,0.39043,-0.024118,-0.67729,-0.27114,-0.57281,0.37370,0
2908867,4032,960000.0,-9.1992,3.7591,2.2195,-1.6985,-0.15471,0.055083,0.60451,-0.009110,...,1.72660,-0.308030,0.70095,0.39214,0.003448,-0.66821,-0.27050,-0.58829,0.36637,0

In [12]:
data = pd.read_csv('..\dataset\subject1_self.csv', header=None, delim_whitespace=True)

In [13]:
data

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,0,20000.0,-9.7541,3.3232,-2.0692,-0.176470,0.320610,0.312340,0.75924,-0.20178,...,0.002563,-0.005975,0.71662,-0.15862,-0.021810,0.53729,-0.396920,0.56283,0.486830,0
1,0,40000.0,-9.2390,2.5249,-2.4857,-0.468040,0.277570,0.313910,0.75919,-0.19997,...,0.011413,0.010268,0.71901,-0.15333,-0.025614,0.53727,-0.397460,0.56264,0.486630,0
2,0,60000.0,-9.1370,2.1923,-2.5635,-0.611980,0.232350,0.307370,0.75875,-0.20482,...,0.006052,0.003046,0.71874,-0.15213,-0.023768,0.53613,-0.398730,0.56179,0.487820,0
3,0,80000.0,-8.9165,1.7496,-2.8630,-0.799670,0.206680,0.306060,0.75608,-0.21035,...,-0.006555,0.000386,0.71754,-0.15606,-0.022152,0.53728,-0.400030,0.56073,0.486720,0
4,0,100000.0,-9.5109,2.2566,-1.9086,-0.980100,0.117130,0.306060,0.75453,-0.21613,...,-0.004673,-0.003296,0.71714,-0.15702,-0.020740,0.53759,-0.399730,0.56089,0.486440,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166200,2168,460000.0,-8.6433,3.0724,4.0654,-0.033135,0.046678,0.026699,1.22740,-0.16385,...,-0.009379,-0.004550,0.77158,0.18403,-0.138440,-0.70991,0.074824,-0.69954,0.032902,0
166201,2168,480000.0,-8.6425,2.8067,4.0258,0.039837,0.018532,0.001922,1.22900,-0.16275,...,0.020284,0.006438,0.77131,0.18376,-0.138180,-0.70978,0.074788,-0.69968,0.032807,0
166202,2168,500000.0,-8.3272,3.0520,3.8609,0.017932,0.027610,-0.011566,1.22660,-0.16144,...,0.003330,-0.008150,0.77267,0.18196,-0.138360,-0.70976,0.074840,-0.69969,0.032830,0
166203,2168,520000.0,-8.8844,3.0508,4.4933,0.065409,-0.038835,0.001757,1.22740,-0.16187,...,0.006784,0.000927,0.77131,0.18348,-0.138190,-0.70973,0.074773,-0.69972,0.032840,0
166204,2168,540000.0,-8.7099,3.1462,3.3179,0.123720,0.029916,-0.023482,1.22820,-0.16330,...,0.010463,-0.006253,0.77049,0.18291,-0.135810,-0.70968,0.074706,-0.69978,0.032957,0